:root {
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  --very-dark-blue-main-bg: hsl(217, 54%, 11%);
  --very-dark-blue-card-bg: hsl(216, 50%, 16%);
  --very-dark-blue-line: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
  --overlay: hsla(178, 100%, 50%, 0.5);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: var(--very-dark-blue-main-bg);
  font-family: 'Outfit', sans-serif;
  display: grid;
  place-items: center;
  min-height: 100vh;
  color: var(--white);
  padding: 1rem;
}

img {
  display: block;
  max-width: 100%;
}

.card {
  background-color: var(--very-dark-blue-card-bg);
  padding: 1.5rem;
  border-radius: 15px;
  max-width: 327px;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.0952917);
}

.card__img-container {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}

.card__overlay {
  opacity: 0;
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--overlay);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.2s;
}

.card__overlay:hover {
  opacity: 1;
}

.card__body {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.card__heading {
  font-size: 1.375rem;
}

.card__text {
  color: var(--soft-blue);
  font-weight: 300;
  margin-top: 0.75rem;
  font-size: 1.125rem;
  line-height: 1.625rem;
}

.card__details {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.details {
  display: flex;
  align-items: center;
  gap: 0.4375rem;
  font-size: 0.9375rem;
}

.details--ethereum {
  color: var(--cyan);
  font-weight: 600;
}

.details--clock {
  color: var(--soft-blue);
}

.card__bottom {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--soft-blue);
  padding-top: 1rem;
  border-top: 1px solid var(--very-dark-blue-line);
}

.card__avatar {
  width: 33px;
  border: 1px solid var(--white);
  border-radius: 50%;
}

.card__author {
  color: var(--white);
  text-decoration: none;
  transition: color 0.2s;
}

.card__author:hover {
  color: var(--cyan);
}

@media (min-width: 768px) {
  .card {
    max-width: 350px;
  }

  .card__body {
    margin: 1.5rem 0;
  }

  .card__text {
    margin-top: 1rem;
  }

  .card__details {
    margin-top: 1.5rem;
  }

  .card__bottom {
    padding-bottom: 0.5rem;
  }
}
